

table{
    border-spacing: 0px;
    border-collapse: collapse;
}


td{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    width: 5em;
    text-align: center;
}


th{
    background-color: black;
    color: white;
    border: 1px solid white;
}