
body{
    background: rgb(233, 233, 138)
}

.stamp{
    width:300px;
    height:300px;
    display:inline-block;
    box-sizing: border-box;
    margin: 10px;
    border: dashed 4px;
    border-color: green;
    box-shadow: 5px 5px 10px;


}


#newzealand{
    background-image: url("newzealand.flag.png"),url("newzealand.map.png"); 
    background-position: top right, top left;
    background-repeat: no-repeat; 
    background-size:  100px 50px,auto 300px;
}
#australia{
    background-image: url("australia.flag.png"),url("austrailia.map.png"); 
    background-position: top right, top left;
    background-repeat: no-repeat; 
    background-size:  100px 50px,auto 300px;


}
#madagascar{
    background-image: url("madagascar.flag.png"),url("madagascar.map.png"); 
    background-position: top right, top left;
    background-repeat: no-repeat; 
    background-size:  100px 50px,300px auto;

}
#iceland{
    background-image: url("iceland.flag.png"),url("iceland.map.png"); 
    background-position: top right, top left;
    background-repeat: no-repeat; 
    background-size:  100px 50px,auto 300px;
}