*{
    box-sizing: border-box;
}

.card{
    width: 200px;
    position: absolute;
}

input{
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1;
}

img{
    width: 200px;
    z-index: 1;
}

.hand{
    position: relative;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.card:nth-child(1){
    left: 0px;
}

.card:nth-child(2){
    left: 100px;
}

.card:nth-child(3){
    left: 200px;
}

.card:nth-child(4){
    left: 300px;
}

.card:nth-child(5){
    left: 400px;
}

input[type="checkbox"] + img{
    transform: translate(0, 0);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

input[type="checkbox"]:checked, input[type="checkbox"]:checked + img{
        transform: translate(0, 25px);
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
}



