body {
    background-color: skyblue;
    width: 800px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

p {
    color: black;
}

figcaption {
    font-style: italic;
    color: rgb(156, 156, 156);
}

figure {
    width: 600px;
    margin: auto;
}

img {
    width: 600px;
}